*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding-top: 80px;
}
 /* SELETTORI GLOBALI  */
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/* BARRA DI NAVIGAZIONE  */
.navcontainer{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 80px;
    width: 100vw;
    padding: 25px 15px;
}
.leftnav{
    padding: 0 40px;
}
.leftnav,.logo{
    float: left;
}
.leftnav ul li, .rightnav ul li{
    display: inline-block;
    margin-right: 40px;
    line-height: 25px;
}
.inizia, .rightnav{
    float: right;
}
.inizia a{
    color: white;
    background-color: #0061ff;
    padding: 7px 18px;
    line-height: 25px;
}
/* BANNER PROVA GRATUITA  */
.banner{
    background-color: #b4d0e7;
    width: 100vw;
    height: 800px;
}
.bannercontainer{
    max-width: 80%;
    margin: auto;
    padding-top: 80px;
}
.bannercontainer h1{
    font-size: 80px;
} 
.bannerxy{
 margin-top: 60px;
}
.leftbanner{
    float: left;
    width: 30%;
}
.rightbanner{
    float: right;
    width: 70%;
}
.rightbanner img{
    position: relative;
    top: 0;
    left: 60px;
    width: 95%;
}

